* {
    margin: 0;
    padding: 0;
}

.root {
    margin: 0;
    padding: 16px;
    background-color: rgb(202, 202, 202);
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
.title {
    margin-left: 12px;
}
.title-link {
    margin-left: 24px;
}

.container {
    width: 100%;
    display: flex;
}
.container .list-container {
    flex: 1;
    border: 1px solid black;
    padding: 6px 12px;
}

.input-row {
    height:50px;
    margin-bottom: 6px;
    margin-left: 12px;
}
.data-row {
    height:120px;
    border: 1px solid black;
    margin-bottom: 6px;
    padding: 12px 6px;
}
.data-row .btns-container {
    margin-top: 6px;
    display: flex;
}
.data-row .btn-box {
    margin-right: 6px;
    padding: 6px;
}

@media screen and (max-width:896px){
    .input-row {
        height:100px;
        margin-bottom: 6px;
        margin-left: 12px;
        display: flex;
        flex-direction: column;
    }
    .btn-copydata {
        margin-top: 6px;
    }
    .btn-txt {
        display: none;
    }
}